* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-filter {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    align-items: center;
}

.error-div {
    display: flex;
    padding: 5px 5px;
    background-color: rgb(250, 132, 132);
    margin-bottom: 15px;
}

.error-text {
    margin-bottom: 0;
    color: #fff;
}